<div class="row-fluid">
	<div class="span3" style="position:relative; top:250px; left:50px">
	<%= button_to('Previous Region', brain_region_path(@brain_region.previous), :class => 'btn btn-primary btn-large', :method => :get)  %>
	</div>
	<div class="span6 pagination-centered">
		<h3><%=@brain_region.name%><h3>
		
		<% if FileTest.exists?("#{Rails.root}/public/images/brain_regions/"+ @brain_region.id.to_s+ ".png") %>
      		<% path = "/images/brain_regions/" + @brain_region.id.to_s + ".png" %>
			<img src=<%=path%> class="img-rounded">
		<% else %>
			<p> Image does not exist </p>
		<% end %>
		
	</div>
	<div class="span3" style="position:relative; top:250px; left:50px">
		<%= button_to('Next Region', brain_region_path(@brain_region.next), :class => 'btn btn-primary btn-large', :method => :get)  %>
	</div>
</div>