

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
      <img src="/brain.png" class="img-rounded">
    </div>
    <div class="span8">
	    <h2>
	  		<%= @device.name %>
		</h2>

		<p>
		  <%= @device.description %>
		</p>
		<%= render @brain_regions %>
    </div>
  </div>

