
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
      <img src="/images/brain.png" class="img-rounded">
    </div>
    <div class="span8">
	    <dl>
		<% @devices.each do |device| %>
			<div class="row-fluid">
				<div class="span3">
					<h3><%=device.name %></h3>
				</div>
				<div class="span6">
					<%=device.description%>
				</div>
				<div class="span3">
					<%= button_to('More info', literary_device_path(device), :class => 'btn btn-primary btn-small', :method => :get)  %>
				</div>
			</div>
			<br>
		<% end %>
		</dl>
    </div>
  </div>



