<%= link_to "Literature and the Brain", root_path, :class => 'brand' %>
<ul class="nav">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      Menu
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li><a tabindex="-1" href="/literary_devices">Literary Devices</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" href="/brain_regions">Brain Regions</a></li>
  </ul>
  </li>
</ul>